@{
    ViewData["Title"] = "Admin Dashboard";
}

<h1>Welcome, Admin!</h1>

<p>Избери от следните действия:</p>
<ul>
    <li><a asp-controller="Admin" asp-action="Tournaments">Управление на турнири</a></li>
    <li><a asp-controller="Admin" asp-action="Users">Manage Users</a></li>
</ul>
