
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1>Предстоящи турнири</h1>

    <div id="tournament-list">
        @Html.Partial("_TournamentListPartial", ViewData["Tournaments"])
    </div>



</div>


